@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* CORPO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: auto;
    font-family: 'Lato', sans-serif;
}

body{
    background: -webkit-linear-gradient(180deg, rgb(0, 0, 0), rgb(6, 80, 59));
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(10, 90, 60));
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* CABEÇALHO */

header{
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-left: -100px;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 300px;
    height: 120px;

}

.logo img{
    margin-top: 10px;
    height: 120px;

}

.logo h2{
    width: 300px;
    margin-top: -110px;
    margin-left: 120px;
    color: #fff;
    font-size: 40px;
}

.logo span{
    color: #008037;
    letter-spacing: 6px;
    font-weight: bold;
}

/* CONTEUDO PRINCIPAL */

.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.primary-text {
    width: 850px;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom:80px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 40px;
    
}

.headline{
    color: #f7b154;
    text-shadow: 0px 0px 10px #008037, 0px 0px 10px #008037;
}

.second-text {
    width: 800px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 35px;
    font-weight: normal;
    text-align: center;

}

/*.main-image{
    width: 350px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
}*/

.main-button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.main-button button {
    width: 300px;
    height: 65px;
    cursor: pointer;
    border: 2px solid #f7b154;
    color: #f7b154;
    box-shadow: 0px 0px 5px #f7b154, 0px 0px 5px #f7b154;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.main-button button:hover {
    color: #008037;
    border: none;

}

.main-button button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 65px;
    background-color: #f7b154;
    box-shadow: 0px 0px 5px #008037, 0px 0px 5px #008037;
    z-index: -1;
    transition: 0.8s;
}

.main-button button:hover:before {
    width: 100%;
}

/* CARDS */

.main-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
}

.main-cards h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 130px;
    letter-spacing: 3px;
    text-shadow: 0px 0px 10px #008037, 0px 0px 10px #008037;
}

.cards{
    margin-top: 50px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
  
}

.card{
    background-color: transparent;
    width: 200px;
    height: 200px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card img{
    width: 100px;
    height: auto;
}


.card h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 30px;
}

/* INFORMAÇÕES */

.infos{
    margin-top: 100px;
    margin-left: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-content{
    letter-spacing: 2px;
    font-size: 15px;
    height: 150px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
}

.final-content h2{
    padding: 5px;

}

.final-content h1{
    padding: 5px;
    margin-top: 15px;
    text-shadow: 0px 0px 10px #008037, 0px 0px 10px #008037;
}

.final-content span{
    color: #f7b154;
    font-size: 30px;
}

.image-whats{
    flex-direction: column;
}

.img2{
    margin-left: 30px;
    height: 140px;
}

/* CTA */

.final-button {
    width: 100%;
    align-items: center;
    margin-top: 50px;
    display: flex;
    justify-content: center; 
}

.final-button button {
    width: 300px;
    height: 65px;
    cursor: pointer;
    border: 2px solid #f7b154;
    color: #f7b154;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.final-button button:hover {
    color: #008037;
    border: none;

}

.final-button button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 65px;
    background-color: #f7b154;
    box-shadow: 0px 0px 5px #008037, 0px 0px 5px #008037;
    z-index: -1;
    transition: 0.8s;
}

.final-button button:hover:before {
    width: 100%;
}

/* RODAPÉ */

footer{
    margin-top: 95px;
    background-color: #071a14;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direitos h3{
    padding-top: 15px;
    font-weight: normal;
    color: #fff;
}