/* CORPO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: auto;
    font-family: 'Lato', sans-serif;
}

body{
    background: -webkit-linear-gradient(180deg, rgb(0, 0, 0), rgb(6, 80, 59));
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(10, 90, 60));
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* CABEÇALHO */

header{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 30%;
    height: 120px;

}

.logo img{
    margin-top: 10px;
    height: 120px;

}

.logo h2{
    margin-top: -110px;
    margin-left: 120px;
    color: #fff;
    font-size: 40px;
}

.logo span{
    color: #008037;
    letter-spacing: 6px;
    font-weight: bold;
}

/* CONTEUDO PRINCIPAL */

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.primary-text {
    width: 56%;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    line-height: 40px;
    
}

.headline{
    color: #f7b154;
    text-shadow: 0px 0px 10px #008037, 0px 0px 10px #008037;
}

.second-text {
    width: 50%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 35px;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
}

/*.main-image{
    width: 350px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
}*/

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.main-button button {
    width: 300px;
    height: 65px;
    cursor: pointer;
    border: 2px solid #f7b154;
    color: #f7b154;
    box-shadow: 0px 0px 5px #f7b154, 0px 0px 5px #f7b154;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.main-button button:hover {
    color: #008037;
    border: none;

}

.main-button button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 65px;
    background-color: #f7b154;
    box-shadow: 0px 0px 5px #008037, 0px 0px 5px #008037;
    z-index: -1;
    transition: 0.8s;
}

.main-button button:hover:before {
    width: 100%;
}

/* CARDS */

.main-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
}

.main-cards h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 130px;
    letter-spacing: 3px;
    text-shadow: 0px 0px 10px #008037, 0px 0px 10px #008037;
}

.cards{
    margin-top: 50px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
  
}

.card{
    background-color: transparent;
    width: 200px;
    height: 200px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card img{
    width: 100px;
    height: auto;
}


.card h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 30px;
}

/* INFORMAÇÕES */

.infos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.final-content{
    width: 40%;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    line-height: 40px;
}

.final-content h2{
    letter-spacing: 3px;
}

.final-content span{
    color: #f7b154;
    font-size: 30px;
}

.img2{
    height: 100px;
    margin-top: 50px;
}

/* CTA */

.cta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
}

.cta h1{
    width: 40%;
    text-align: center;
    letter-spacing: 3px;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 0px 10px #008037, 0px 0px 10px #008037;
}

.final-button {
    align-items: center;
    margin-top: 30px;
    display: flex;
    justify-content: center; 
}

.final-button button {
    width: 300px;
    height: 65px;
    cursor: pointer;
    border: 2px solid #f7b154;
    color: #f7b154;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.final-button button:hover {
    color: #008037;
    border: none;

}

.final-button button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 65px;
    background-color: #f7b154;
    box-shadow: 0px 0px 5px #008037, 0px 0px 5px #008037;
    z-index: -1;
    transition: 0.8s;
}

.final-button button:hover:before {
    width: 100%;
}

/* RODAPÉ */

footer{
    margin-top: 95px;
    background-color: #071a14;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape h3{
    padding-top: 15px;
    font-weight: normal;
    color: #fff;
}

/* @media screen and (min-width: 768px){

    .logo, .main-content, .main-cards, .infos, .cta{
       
        width: 100%;
        margin: 0 auto;
    }

}
    /* CABEÇALHO */

    
    /*header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    header .logo{
        text-align: center;
        width: 100%;
    }

    /* CONTEÚDO PRINCIPAL */

    /*.main-content{
        justify-content: center;
        height: 250px;
        height: 30vh;
        min-height: 250px;
    }

    .main-content h1{
        text-align: center;
        width: 100%;
    }

    .main-content h3{
        text-align: center;
        width: 100%;
    }

    /* CARDS */

    /*.main-cards{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: center;
        height: 250px;
        height: 30vh;
        min-height: 250px;
    }

    .main-content h2{
        text-align: center;
        width: 100%;
    }

    .cards{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    /* INFORMAÇÕES */

    /*.infos{
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .final-content h2{
        text-align: center;
        width: 100%;
    }

    .final-content h1{
        text-align: center;
        width: 100%;
    }

    .img-whats img{
        width: 33.3333333%;
    }
    /*
